build --enable_platform_specific_config
common --enable_bzlmod

build:linux --cxxopt=-std=c++20
build:linux --host_cxxopt=-std=c++20
build:macos --cxxopt=-std=c++20
build:macos --host_cxxopt=-std=c++20
build:windows --cxxopt=/std:c++20
build:windows --host_cxxopt=/std:c++20
build:windows --cxxopt=/Zc:__cplusplus
build:windows --host_cxxopt=/Zc:__cplusplus