[submodule "DirectXShaderCompiler"]
	path = lib/external/DirectXShaderCompiler
	url = git@github.com:microsoft/DirectXShaderCompiler.git
[submodule "lib/glfw"]
	path = lib/external/glfw
	url = git@github.com:glfw/glfw.git
[submodule "docs/doxygen-awesome"]
	path = docs/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/glaze"]
	path = lib/external/glaze
	url = git@github.com:stephenberry/glaze.git
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/external/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "lib/external/stb_image"]
	path = lib/external/stb_image
	url = git@github.com:nothings/stb.git
[submodule "lib/external/SPIRV-Reflect"]
	path = lib/external/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "lib/external/SPIRV-Cross"]
	path = lib/external/SPIRV-Cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
[submodule "lib/external/assimp"]
	path = lib/external/assimp
	url = git@github.com:assimp/assimp.git
[submodule "lib/external/glm"]
	path = lib/external/glm
	url = git@github.com:alusch/glm.git
	branch = neon-compile-error
[submodule "lib/external/flecs"]
	path = lib/external/flecs
	url = git@github.com:kevinpruvost/VenomEngine_flecs.git
[submodule "lib/external/openvdb"]
	path = lib/external/openvdb
	url = git@github.com:AcademySoftwareFoundation/openvdb.git
[submodule "lib/external/openexr"]
	path = lib/external/openexr
	url = git@github.com:AcademySoftwareFoundation/openexr.git
[submodule "lib/external/imgui"]
	path = lib/external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "lib/external/MikkTSpace"]
	path = lib/external/MikkTSpace
	url = git@github.com:mmikk/MikkTSpace.git
